.text_size_s .text__word_width_s {
  width: 20px;
}

.text_size_m .text__word_width_s {
  width: 24px;
}

.text_size_l .text__word_width_s {
  width: 28px;
}

.text_size_xl .text__word_width_s {
  width: 32px;
}

.text_size_xxl .text__word_width_s {
  width: 36px;
}
