.text_view_primary .text__word {
  background-color: var(--color-text);
}

.text_view_secondary .text__word {
  background-color: var(--color-text-secondary);
}

.text_view_ghost .text__word {
  background-color: var(--color-text-additional);
}

.text_view_link .text__word {
  background-color: var(--color-text-link);
}

.text_size_s .text__word {
  height: var(--size-text-s);
  margin-top: var(--interval-text-s);
}

.text_size_m .text__word {
  height: var(--size-text-m);
  margin-top: var(--interval-text-m);
}

.text_size_l .text__word {
  height: var(--size-text-l);
  margin-top: var(--interval-text-l);
}

.text_size_xl .text__word {
  height: var(--size-text-xl);
  margin-top: var(--interval-text-xl);
}

.text_size_xxl .text__word {
  height: var(--size-text-xxl);
  margin-top: var(--interval-text-xxl);
}
