.theme_size_default {
    --size-text-s: 7px;
    --size-text-m: 8px;
    --size-text-l: 10px;
    --size-text-xl: 11px;
    --size-text-xxl: 13px;

    --interval-text-s: 18px;
    --interval-text-m: 21px;
    --interval-text-l: 25px;
    --interval-text-xl: 28px;
    --interval-text-xxl: 34px;
}