.theme_color_project-default {
    /* Background color is used in nested elements */
    --color-background: #FFF;
    --color-background-border: #000;
    --color-background-accent: #0056B3;

    /* Text color is used in nested elements */
    --color-text: #000;
    --color-text-secondary: rgba(0, 0, 0, 0.6);
    --color-text-additional: rgba(0, 0, 0, 0.3);
    --color-text-link: rgba(0, 0, 0, 0.3);
}