.theme_color_megafon-brand {
    /* Background color is used in nested elements */
    --color-background: #1FA55D;
    --color-background-border: #FFF;
    --color-background-accent: #FFF;

    /* Text color is used in nested elements */
    --color-text: #FFF;
    --color-text-secondary: rgba(255, 255, 255, 0.6);
    --color-text-additional: rgba(255, 255, 255, 0.3);
    --color-text-link: #FFF;
}